<div class="content">
  <div class="floating-container">
    <div class="floating-wrapper">
      <button class="floating-btn first-fl-btn" (click)="popupFn(11)" pTooltip="About Me" appendTo="body" tooltipPosition="right">
        <div class="fl-icon">
            <i class="fa fa-black-tie" aria-hidden="true"></i>
        </div>
      </button>
      <button class="floating-btn" (click)="popupFn(12)" pTooltip="Qualification" appendTo="body" tooltipPosition="right">
        <div class="fl-icon">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
      </button>
      <button class="floating-btn" (click)="popupFn(13)" pTooltip="Experience" appendTo="body" tooltipPosition="right">
        <div class="fl-icon">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
        </div>
      </button>
      <!-- <button class="floating-btn">
        <div class="fl-icon">
            <i class="fa fa-superpowers" aria-hidden="true"></i>
        </div>
      </button> -->
      <button class="floating-btn last-fl-btn" (click)="popupFn(14)" pTooltip="Resume" appendTo="body" tooltipPosition="right">
        <div class="fl-icon">
            <i class="fa fa-superpowers" aria-hidden="true"></i>
        </div>
      </button>


    </div>
  </div>
  <div class="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/src/assets/Images/cr1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/src/assets/Images/cr2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/src/assets/Images/cr3.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <button class="card-button" (click)="popupFn(1)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/works/1.png" alt="image1">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(2)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/works/2.png" alt="image2">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(3)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/works/3.png" alt="image3">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(4)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/works/4.png" alt="image4">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(5)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/works/5.png" alt="image5">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(6)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/works/6.png" alt="image6">
      </div>
    </button>
  </div><div class="dummy-container2">
    <button class="card-button" (click)="popupFn(1)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/fmenu/me.jpg" alt="image1">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(2)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/fmenu/edu.jpg" alt="image2">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(3)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/fmenu/exp.jpg" alt="image3">
      </div>
    </button>
    <button class="card-button" (click)="popupFn(4)">
      <div class="card">
        <img class="works-tile" src="/src/assets/Images/fmenu/resume.jpg" alt="image4">
      </div>
    </button>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
<p-dialog header="Gallery" [(visible)]="showPopup" [closable]="true" [modal]="true" [responsive]="true" 
[minWidth]="500" [minHeight]="400" [maximizable]="true">
  <img *ngIf="show1" class="works" src="/src/assets/Images/works/1.png" alt="image1">

  <img *ngIf="show2" class="works" src="/src/assets/Images/works/2.png" alt="image1">

  <img *ngIf="show3" class="works" src="/src/assets/Images/works/3.png" alt="image1">

  <img *ngIf="show4" class="works" src="/src/assets/Images/works/4.png" alt="image1">

  <img *ngIf="show5" class="works" src="/src/assets/Images/works/5.png" alt="image1">

  <img *ngIf="show6" class="works" src="/src/assets/Images/works/6.png" alt="image1">
</p-dialog>
<p-dialog header="Floating Menu Popup" styleClass="floatingPopup" [(visible)]="showFloatingPopup" [closable]="true" 
[modal]="true" [responsive]="true" [minWidth]="500" [maximizable]="true">
<img *ngIf="showf1" class="f-menu-item" src="/src/assets/Images/fmenu/me.jpg" alt="image1">

<img *ngIf="showf2" class="f-menu-item" src="/src/assets/Images/fmenu/edu.jpg" alt="image1">

<img *ngIf="showf3" class="f-menu-item" src="/src/assets/Images/fmenu/exp.jpg" alt="image1">

<img *ngIf="showf4" class="f-menu-item-resume" src="/src/assets/Images/fmenu/resume.jpg" alt="image1">
</p-dialog>