<!-- app component top
<router-outlet></router-outlet>
<br>
app component bottom -->


<app-headder></app-headder>

<!-- <router-outlet></router-outlet> -->
<app-content>
</app-content>
<app-footer></app-footer>
