<div class="item-pic">
  <img class="bike-img item-home-image" src="/src/assets/Images/venom.jpg" alt="RC Special Force">
</div>
<div class="item-info">
  <div class="stock-info">
    In Stock
  </div>
  <div class="item-name">
    Venom (RC 200)
  </div>
  <div class="rating">
    <span class="fa fa-star checked-star"></span>
    <span class="fa fa-star checked-star"></span>
    <span class="fa fa-star checked-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
  <div class="bike-description">
    RC 200 is the first step into KTM´s Ready to Race philosophy. The premium full faired bike is an eye-catcher for its outstanding
    style.
  </div>
  <div class="amount">
    <s>
      <span class="old-price item-home-amount">Rs 5000</span>
    </s>
    <span class="new-price item-home-amount">Rs 3999</span>
  </div>
  <div class="buy-buttons-container">
    <a href="" class="btn buy-button">Buy Now
      <i class="fa fa-tags" aria-hidden="true"></i>
    </a>
    <a href="" class="btn buy-button">Add To Cart
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="suggested-items-container">
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <img class="bike-img card-img-top" src="/src/assets/Images/bike2.jpg" alt="RC Special Force">
      <span class="tag">-20%</span>
      <div class="card-body">
        <h5 class="card-title design-title">Repsol Redefined</h5>
        <p class="card-text design-desc">Bike/Design description goes here. </p>
        <s>
          <span class="old-price amount">Rs 5000</span>
        </s>
        <span class="new-price amount">Rs 3999</span>
        <a href="#" class="btn action-button">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <img class="bike-img card-img-top" src="/src/assets/Images/bike5.jpg" alt="Dominar Venum">
      <span class="tag">-20%</span>
      <div class="card-overlay">
        <div class="overlay-buttons">
          <span class="btn action-button">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </span>
          <span class="btn action-button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <span class="btn action-button">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
          </span>
        </div>
        <div class="overlay-body"></div>
      </div>
      <div class="card-body">
        <h5 class="card-title design-title">Venum Dom</h5>
        <p class="card-text design-desc">Bike/Design description goes here. </p>
        <s>
          <span class="old-price amount">Rs 5000</span>
        </s>
        <span class="new-price amount">Rs 3999</span>
        <a href="#" class="btn action-button">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="spec-table">
  <table class="table">
    <tr>
      <td class="spec-label">Wrap Name</td>
      <td class="spec-value"> Venom</td>
    </tr>
    <tr>
      <td class="spec-label">Color</td>
      <td class="spec-value"> Venom White, Tinted Ash</td>
    </tr>
    <tr>
      <td class="spec-label">Material</td>
      <td class="spec-value"> Matte Lamination</td>
    </tr>
    <tr>
      <td class="spec-label">Alloy Change</td>
      <td class="spec-value"> Recommented</td>
    </tr>
    <tr>
      <td class="spec-label">Frame Change</td>
      <td class="spec-value"> Recommented</td>
    </tr>
  </table>
</div>