body {
    background: url('src/assets/images/bodybg.jpg')
    /* background-color: #282735; */
}
.header {
    height: 102px;
    background: white;
    min-width: 321px !important
}
::ng-deep.ui-dialog {
    text-align:center !important;
}
button:focus {
    outline:0 !important;
}
@media all and (max-width: 700px) and (min-width:450px) {
    .header{
        height: 62px;
    }
}